<div class="label">{{ description }}</div>
<mat-form-field #field>
  <input matInput placeholder="" value="{{ value }}"
         [type]="type"
         [matAutocomplete]="auto"
         (change)="onTextFieldChange($event)"
         (keyup)="onTextFieldChange($event)">
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onAutoCompleteSelect($event)">
    <mat-option *ngFor="let option of filteredOptions" [value]="option">
      {{option}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
