<button mat-button (click)="enableDrag()">Enable</button>
<button mat-button (click)="disableDrag()">Disable</button>
<div *ngIf="group">
  <!-- fxLayout="row wrap" fxLayoutAlign="center center" -->
  <div #container style="display: block;" (window:resize)="onResize($event)">
    <app-dynamic-widget *ngFor="let module of hgui.getGroupModules(group)"
                        [module]="module"
                        [options]="module.getWidgetOptions()"
                        (showOptions)="onShowOptions($event)"
                        style="position: absolute;"
                        >
    </app-dynamic-widget>
  </div>
</div>

<!--
                        [cdkDragConstrainPosition]="constrainPosition"
                        (cdkDragMoved)="onDragMoved($event)"
-->
