<div class="label">{{ description }}</div>
<div fxLayout="row" fxLayoutAlign="stretch center">
  <mat-form-field fxFlex="grow">
    <input matInput #inputElement placeholder="{{ 'command_code' | translate }}" [value]="value"
           [disabled]="isCapturing"
           (change)="onTextFieldChange($event)"
           (keyup)="onTextFieldChange($event)">
  </mat-form-field>
  <div style="width: 48px" fxLayout="row" fxLayoutAlign="center center">
    <button *ngIf="!isCapturing"
            mat-icon-button color="primary" title="Capture code"
            (click)="onCaptureClick()">
      <mat-icon>visibility</mat-icon>
    </button>
    <mat-spinner *ngIf="isCapturing" diameter="24" color="warn"></mat-spinner>
  </div>
</div>
