@import "src/styles/settings/variables";

:host {
    height: 100vh;
    color: mat-color($app-accent);
    font-size: 300%;
}

small {
    margin-top: 12px;
    font-size: 30%;
}

.logo {
  font-family: lobster, serif;
}
