:host {
  position: absolute;
  top:0; left: 0;
  bottom: 0; right: 0;
}
.ngs-code-editor {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
  min-height: 0;

  .editor {
    border: 1px solid grey;
    // min-height: 400px;
  }
}

.file-tree-container {
  height: calc(100vh - 64px);
  overflow: hidden;
}

.file-tree {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
  min-height: 0;
  overflow: auto;

  &-invisible {
    display: none;
  }
  ul, li {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
  }

  .mat-icon-button[disabled] {
    display: none;
  }

  .file-node-label {
    display: flex;
    cursor: pointer;
    user-select: none;

    &__icon {
      float: left;
    }

    &__text {
      float: left;
      margin-top: 4px;
      margin-left: 4px;
      white-space: nowrap;
    }
  }
}
