:host {
  display: block;
  ::ng-deep .mat-tab-label {
  }
  ::ng-deep .mat-ink-bar {
    height: 4px !important;
  }
}
.mat-dialog-title {
  height: 48px;
  max-height: 48px;
  margin: 0;
  h2 {
    padding: 0;
    margin: 0;
  }
}
.mat-dialog-actions {
  height: 48px;
  max-height: 48px;
  font-weight: normal;
  padding: 0;
}
.mat-dialog-content {
  margin: 0;
  padding: 0 12px;
  min-height: 280px;
  max-height: calc(100vh - 100px);
}
