<h2 mat-dialog-title class="color-primary mat-elevation-z2" fxLayout="column" fxLayoutAlign="center stretch">

  <div fxLayout="row" fxLayoutAlign="end center" style="padding-left: 12px; padding-right: 12px">
    <div fxFlex fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
      <h2>{{ module.name }}</h2>
    </div>
    <mat-icon *ngIf="showPage === 'statistics'">insights</mat-icon>
    <mat-icon *ngIf="showPage === 'settings'">tune</mat-icon>
    <div *ngIf="showPage === 'schedule'" fxLayout="row" fxLayoutAlign="end center">
      <span>{{ selectedDate | amLocale:translate.currentLang | amDateFormat:'LL' }}</span>
      <button mat-icon-button matTooltip="Preview a different day" color="primary">
        <mat-icon>today</mat-icon>
      </button>
    </div>
  </div>

</h2>

<div mat-dialog-content>

  <div *ngIf="showPage === 'statistics'">

      <app-chart [module]="module"></app-chart>

      <!-- TODO: add logs as well -->

  </div>

  <div *ngIf="showPage === 'settings' && module.type === 'program'">
    <app-program-options #optionsHandler [module]="module"></app-program-options>
  </div>
  <div *ngIf="showPage === 'settings' && module.type !== 'program'">

    <div class="label">{{ "module_type" | translate }}</div>
    <span>{{ module.type }}</span>
    <div class="label">{{ "module_adapter" | translate }}</div>
    <span>({{ module.adapterId }})</span>
    <div *ngIf="module.description">
      <div class="label">{{ "description" | translate }}</div>
      <span>{{ module.description }}</span>
    </div>

    <div>&nbsp;</div>

    <app-module-options #optionsHandler [module]="module"></app-module-options>

  </div>

  <div *ngIf="showPage === 'schedule'">
    <app-module-scheduling #optionsHandler [module]="module"></app-module-scheduling>
  </div>

</div><!-- dialog content -->


<mat-dialog-actions fxLayout="column" fxLayoutAlign="center stretch">

  <div fxLayout="row" fxLayoutAlign="end center" style="margin-right: 16px;">

    <button mat-button mat-dialog-close>{{ optionsHandler && optionsHandler.isChanged ? "cancel" : "close" | translate }}</button>
    <button mat-button mat-dialog-close color="accent"
            [ngStyle]="{ display: optionsHandler && optionsHandler.isChanged ? '' : 'none' }"
            >{{ "apply" | translate }}</button>

  </div>

</mat-dialog-actions>
