<mat-card *ngIf="!isSmallScreen else compactView" class="widget-big mat-elevation-z3">
  <mat-card-header>
    <mat-card-title fxLayout="row" fxLayoutAlign="space-between center">
      <div>
        {{ data.location.name.value }}, {{ data.location.country.value }}
      </div>
      <div style="opacity: 0.5;font-size: 80%">{{ todayDate | amLocale:translate.currentLang | amDateFormat:'HH:mm:ss' }}</div>
    </mat-card-title>
    <mat-card-subtitle fxFlexFill fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
      <!-- div class="status-led" [ngClass]="{ 'active-led': status === 'active' }"></div -->
      <!-- span>{{ module.type }}</span -->
      <!-- mat-icon color="primary">flash_on</mat-icon -->
      <div fxFlexFill fxLayout="row" fxLayoutAlign="space-between start">
        <div>{{ todayDate | amLocale:translate.currentLang | amDateFormat:'LL' }}</div>
        <div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="12px">
          <span fxFlexAlign="end end" class="label">Sunrise</span> <span>{{ data.astronomy.sunrise.value }}</span>
          <span fxFlexAlign="end end" class="label">Sunset</span> <span>{{ data.astronomy.sunset.value }}</span>
        </div>
      </div>
    </mat-card-subtitle>
    <app-widget-options-menu style="position: absolute;right:8px; top:8px;"
                             [module]="module"
                             (menuOptionSelect)="onMenuOptionSelected($event)">
    </app-widget-options-menu>
  </mat-card-header>
  <mat-card-content fxLayout="column" fxLayoutAlign="start stretch">

    <div fxLayout="row" fxLayoutAlign="space-around center">
      <svg-icon src="assets/widgets/weather/images/fill/{{ data.today.icon.value }}.svg" [svgStyle]="{ 'width.px': 144, 'height.px': 144}"></svg-icon>
      <div fxLayout="column" fxLayoutAlign="start center" style="margin-right: 20px">
        <div class="text-big color-primary">
          {{ data.today.temperatureC.value | sensorValueFormatter }} C
        </div>
        <div><strong>{{ data.today.description.value }}</strong></div>
        <div fxLayout="row" fxLayoutAlign="start center">
          <svg-icon src="assets/widgets/weather/images/wind.svg" [svgStyle]="{ 'width.px': 24, 'height.px': 24, 'stroke': '#888'}"></svg-icon>
          <span style="margin-left: 4px">{{ data.today.wind.speedKph.value | sensorValueFormatter }} Kp/h</span>
          <svg-icon src="assets/widgets/weather/images/droplet.svg" [svgStyle]="{ 'width.px': 24, 'height.px': 24, 'stroke': '#888'}"></svg-icon>
          <span>{{ data.today.precipitation.rainMm.value | sensorValueFormatter }} mm</span>
        </div>
      </div>
    </div>

    <div fxLayout="row" fxLayoutGap="16px">
      <div *ngFor="let forecastData of data.forecast; trackBy: trackByFn" fxLayout="column" fxLayoutAlign="center center">
        <div class="label">{{ forecastData.date }}</div>
        <div>{{ forecastData.description.value }}</div>
        <div fxLayout="row" style="width: 140px; height: 64px; display: block;">
          <svg-icon src="assets/widgets/weather/images/fill/{{ forecastData.icon.value }}.svg" [svgStyle]="{ 'width.px': 64, 'height.px': 64}"></svg-icon>
          <div fxLayout="column" fxLayoutAlign="center center">
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
              <span class="label">MIN</span>
              <span>{{ forecastData.minC.value | sensorValueFormatter }} C</span>
            </div>
            <div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
              <span class="label">MAX</span>
              <span>{{ forecastData.maxC.value | sensorValueFormatter }} C</span>
            </div>
          </div>
        </div>
      </div>
    </div>

  </mat-card-content>
</mat-card>

<ng-template #compactView>
  <mat-card class="widget-medium mat-elevation-z3">
    <mat-card-header>
      <mat-card-title>{{ module.name }}</mat-card-title>
      <mat-card-subtitle fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
        <!-- div class="status-led" [ngClass]="{ 'active-led': status === 'active' }"></div -->
        <!-- span>{{ module.type }}</span -->
        <!-- mat-icon color="primary">flash_on</mat-icon -->
        <span>12.4 W</span>
      </mat-card-subtitle>
      <app-widget-options-menu style="position: absolute;right:8px; top:8px;"
                               [module]="module"
                               (menuOptionSelect)="onMenuOptionSelected($event)">
      </app-widget-options-menu>
    </mat-card-header>
    <mat-card-content fxLayout="column" fxLayoutAlign="center stretch">

      // TODO: Weather Widget compact view

    </mat-card-content>
  </mat-card>
</ng-template>
