<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="Content-Language" content="en-us" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="HomeGenie, the open source, programmable, home automation server for smart connected devices and applications." />
    <meta name="keywords" lang="en-us" content="Home Automation,Domotics,Domotica,Z-Wave,X10,Insteon,RFXCom,LightwaveRF,Lightwave RF,433Mhz,RF,IR,ZWave,Raspberry Pi,GPIO,SPI,I2C,Weather,Macro,Scenarios,Automation,UPnP,DLNA,Control Point,Media Receiver,Aeon Labs,Fibaro,Marmitek,CM15,Z-Stick,CM11,SC9000,Philips Hue,Sensors,Voice Control,Open Source,Open Source Home Automation,Internet of Things,IoT,Server,Gateway" />
    <meta name="author" content="Gene" />
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/github-light.css" media="screen">
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print">
    <!--script type='text/javascript' id='lt_ws' src='http://localhost:54950/socket.io/lighttable/ws.js'></script-->
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="js/highlight/styles/github-gist.css">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" type="text/css">
    <script src="js/highlight/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    <title>HomeGenie by genielabs</title>
  </head>

  <body>
    <header>
      <div class="inner">
        <h1>HomeGenie<img src="images/logos/genie.png" height="64"></h1>
        <h2>
            the open source, programmable,
            home automation server
            for smart connected devices and applications
        </h2>
        <a href="https://github.com/genielabs/HomeGenie" class="button"><small>View project on</small> GitHub</a>
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
        <section id="main-content">
