        </section>
        <aside id="sidebar">

            <!--a href="https://github.com/genielabs/HomeGenie/zipball/master" class="button">
                <small>Download</small>
                .zip file
            </a>
            <a href="https://github.com/genielabs/HomeGenie/tarball/master" class="button">
                <small>Download</small>
                .tar.gz file
            </a-->

            <h3><a href="index.html">Home</a></h3>
            <hr>
            <h3><a href="download.html">Download</a></h3>
            <h3><a href="install.html">Install instructions</a></h3>
            <h3>Building from source</h3>
            <hr>
            <h3>Configuration Walkthrough</h3>
            <h3><a href="programs.html">Automation Programs</a></h3>
            <h3>Widgets</h3>
            <h3>Common Automation Tasks</h3>
            <!---
            eg. using Scheduler, connecting to a webservice, sending email... etc...
            -->
            <hr>
            <h3><a href="api/ape/annotated.html">Helper Class Reference</a></h3>
            <h3><a href="api/mig/overview.html">API</a></h3>
            <hr>
            <h3>MIG Interface Plugins</h3>
       
        </aside>
