        </section>
        <aside id="sidebar">

            <h3>
              <i class="fa fa-caret-right" aria-hidden="true"></i>
              <a href="index.html">Home</a>
          	</h3>
            <h3>
              <i class="fa fa-caret-right" aria-hidden="true"></i>
              <a href="download.html">Download</a>
          	</h3>
            <h3>
              <i class="fa fa-caret-right" aria-hidden="true"></i>
              <a href="install.html">Install instructions</a>
          	</h3>
            <h3>
              <i class="fa fa-caret-right" aria-hidden="true"></i>
              <a href="clients.html">User Interface</a>
	        </h3>
            <h3>
              <i class="fa fa-caret-right" aria-hidden="true"></i>
              <a href="walkthrough.html">Software Walkthrough</a>
	        </h3>
            <p>&nbsp;</p>
	    <h2>Advanced Topics</h2>
            <h3>
              <i class="fa fa-caret-right" aria-hidden="true"></i>
              <a href="about.html">About</a>
          	</h3>
            <h3>
              <i class="fa fa-caret-right" aria-hidden="true"></i>
              <a href="programs.html">Automation Programs</a>
          	</h3>
            <h3>
              <i class="fa fa-caret-right" aria-hidden="true"></i>
              <a href="widgets.html">Widgets</a>
          	</h3>
            <hr>
            <h3>
              <i class="fa fa-caret-right" aria-hidden="true"></i>
              <a href="api/ape/annotated.html">Helper Class Reference</a>
          	</h3>
            <h3>
              <i class="fa fa-caret-right" aria-hidden="true"></i>
              <a href="api/mig/overview.html">API</a>
          	</h3>
            <hr>
            <h3>
              <i class="fa fa-caret-right" aria-hidden="true"></i>
              <a href="https://github.com/genielabs/mig-interface-skelton">MIG Interface Plugins</a>
          	</h3>
            <h3>
              <i class="fa fa-caret-right" aria-hidden="true"></i>
              Building from source
          	</h3>
            <hr>
            <h3>
              <i class="fa fa-caret-right" aria-hidden="true"></i>
              <a href="support.html">Support and Reporting</a>
          	</h3>
       
        </aside>
