        </section>
        <aside id="sidebar">

            <h3><a href="index.html">Home</a></h3>
            <hr>
            <h3><a href="download.html">Download</a></h3>
            <h3><a href="install.html">Install instructions</a></h3>
            <h3>Building from source</h3>
            <hr>
            <h3><a href="walkthrough.html">Software Walkthrough</a></h3>
            <h3><a href="programs.html">Automation Programs</a></h3>
            <h3><a href="widgets.html">Widgets</a></h3>
            <!---
            <h3>Common Automation Tasks</h3>
            eg. using Scheduler, connecting to a webservice, sending email... etc...
            -->
            <hr>
            <h3><a href="api/ape/annotated.html">Helper Class Reference</a></h3>
            <h3><a href="api/mig/overview.html">API</a></h3>
            <hr>
            <h3>MIG Interface Plugins</h3>
            <hr>
            <h3><a href="support.html">Support and Reporting</a></h3>
       
        </aside>
