<mat-toolbar color="primary" class="mat-elevation-z4">
  <button mat-icon-button class="example-icon" (click)="drawer.toggle()">
    <!-- mat-icon>menu</mat-icon -->
    <!--
    <img src="./assets/images/homegenie.png" width="40" height="40">
    -->
    <svg-icon src="./assets/images/homegenie.svg" [svgStyle]="{ 'fill': headerTextColor, 'width': '40px', 'height': '40px' }"></svg-icon>
  </button>
  <span #headerText style="margin-left: 8px">{{ hgui.getCurrentGroup() ? hgui.getCurrentGroup().name : 'HomeGenie' }}</span>
  <span class="toolbar-spacer"></span>
  <button mat-icon-button (click)="test1()" class="example-icon favorite-icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button (click)="test2()" class="example-icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<mat-drawer-container [hasBackdrop]="false">
  <mat-drawer #drawer [mode]="'side'">
    <nav>
      <h3 class="section-title color-accent">{{ "groups" | translate }}</h3>
      <ul>
        <li *ngFor="let group of hgui.groups">
          <app-group-list-item [group]="group"></app-group-list-item>
        </li>
      </ul>
      <h3 class="section-title color-accent">{{ "settings" | translate }}</h3>
      <ul>
        <li>
          <a mat-button disabled="true">
            <mat-icon color="primary">auto_fix_high</mat-icon>
            <span style="margin-left: 8px">{{ 'automation' | translate }}</span>
          </a>
        </li>
        <li>
          <a mat-button disabled="true">
            <mat-icon color="primary">schedule</mat-icon>
            <span style="margin-left: 8px">{{ 'scheduler' | translate }}</span>
          </a>
        </li>
        <li>
          <a mat-flat-button routerLink="/setup" routerLinkActive="link-active">
            <mat-icon color="primary">settings</mat-icon>
            <span style="margin-left: 8px">{{ 'configuration' | translate }}</span>
          </a>
        </li>
        <li>
          <a mat-button disabled="true">
            <mat-icon color="primary">language</mat-icon>
            <span style="margin-left: 8px">{{ 'locale' | translate }}</span>
          </a>
        </li>
        <li>
          <a mat-button disabled="true">
            <mat-icon color="primary">engineering</mat-icon>
            <span style="margin-left: 8px">{{ 'maintenance' | translate }}</span>
          </a>
        </li>
      </ul>
    </nav>
  </mat-drawer>
  <mat-drawer-content>
    <div class="content" *ngIf="!isNetworkBusy">
      <!-- The routed views render in the <router-outlet>-->
      <router-outlet></router-outlet>
    </div>
    <app-splash-screen *ngIf="isNetworkBusy"></app-splash-screen>
  </mat-drawer-content>
</mat-drawer-container>
