:host {
  display: block;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  .mat-drawer {
    width: 240px;
    min-height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
    margin-top: 64px;
  }
  .mat-drawer-container {
    display: inline;
  }
}
.mat-toolbar {
  position: fixed;
  z-index: 1000;
  padding-left: 8px;
  padding-right: 8px;
}
.content {
  display: block;
  position: absolute;
  top: 64px; left: 0;
  bottom: 0; right: 0;
  padding: 16px;
  overflow-y: auto;
  overflow-x: hidden;
}

nav ul {
  list-style: none;
  margin: 0 0 16px;
  padding: 0;
  li {
    margin: 0;
    padding: 0;
    a {
      width: 100%;
      text-align: left;
    }
  }
}
.section-title {
  margin: 12px 12px 0;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

