<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Angle" version="3.0.4" targetFramework="net461" />
  <package id="CM19Lib" version="1.1.6" targetFramework="net45" />
  <package id="CommonMark.NET" version="0.15.1" targetFramework="net45" />
  <package id="CronExpressionDescriptor" version="2.15.0" targetFramework="net461" />
  <package id="DynamicLanguageRuntime" version="1.2.2" targetFramework="net45" />
  <package id="HG.Raspberry.IO.Components" version="2.4.3" targetFramework="net461" />
  <package id="HG.Raspberry.IO.GeneralPurpose" version="2.4.3" targetFramework="net461" />
  <package id="HG.Raspberry.IO.InterIntegratedCircuit" version="2.4.3" targetFramework="net461" />
  <package id="HG.Raspberry.IO.SerialPeripheralInterface" version="2.4.3" targetFramework="net461" />
  <package id="HG.Raspberry.System" version="2.1.1" targetFramework="net461" />
  <package id="IronPython" version="2.7.9" targetFramework="net45" />
  <package id="Jint" version="2.11.58" targetFramework="net45" />
  <package id="KNX.net" version="1.1.10" targetFramework="net461" />
  <package id="LibUsbDotNet" version="2.2.8" targetFramework="net45" />
  <package id="LiteDB" version="5.0.0-rc" targetFramework="net452" />
  <package id="MIG" version="1.1.6" targetFramework="net452" />
  <package id="MIG.HomeAutomation" version="1.1.5" targetFramework="net452" />
  <package id="MIG.Protocols" version="1.1.5" targetFramework="net452" />
  <package id="MQTTnet" version="3.0.8" targetFramework="net452" />
  <package id="NCrontab" version="3.3.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net45" />
  <package id="NLog" version="4.5.10" targetFramework="net45" />
  <package id="NUnit" version="3.10.1" targetFramework="net45" />
  <package id="SerialPortLib" version="1.0.18" targetFramework="net452" />
  <package id="SharpZipLib" version="1.0.0" targetFramework="net45" />
  <package id="SolarCalculator" version="3.0.5" targetFramework="net461" />
  <package id="SuperSocket.ClientEngine.Core" version="0.10.0" targetFramework="net452" />
  <package id="UDE.CSharp" version="1.1.0" targetFramework="net45" />
  <package id="WebSocket4Net" version="0.15.2" targetFramework="net452" />
  <package id="WebSocketSharp-netstandard" version="1.0.1" targetFramework="net45" />
  <package id="XTenLib" version="1.0.15" targetFramework="net45" />
  <package id="ZWaveLib" version="1.0.20" targetFramework="net452" />
</packages>