<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Angle" version="3.1.0" targetFramework="net461" />
  <package id="CM19Lib" version="1.1.8" targetFramework="net461" />
  <package id="CommonMark.NET" version="0.15.1" targetFramework="net45" />
  <package id="CronExpressionDescriptor" version="2.17.2" targetFramework="net461" />
  <package id="Jint" version="3.0.0-beta-2044" targetFramework="net461" />
  <package id="Esprima" version="3.0.0-beta-9" targetFramework="net461" />
  <package id="HG.Raspberry.IO.Components" version="2.4.7" targetFramework="net461" />
  <package id="HG.Raspberry.IO.GeneralPurpose" version="2.4.5" targetFramework="net461" />
  <package id="HG.Raspberry.IO.InterIntegratedCircuit" version="2.4.5" targetFramework="net461" />
  <package id="HG.Raspberry.IO.SerialPeripheralInterface" version="2.4.5" targetFramework="net461" />
  <package id="HG.Raspberry.System" version="2.1.1" targetFramework="net461" />
  <package id="KNX.net" version="1.1.10" targetFramework="net461" />
  <package id="LibUsbDotNet" version="2.2.8" targetFramework="net461" />
  <package id="LiteDB" version="5.0.12" targetFramework="net461" />
  <package id="MIG" version="1.1.9" targetFramework="net461" />
  <package id="MIG.HomeAutomation" version="1.1.7" targetFramework="net461" />
  <package id="MIG.Protocols" version="1.1.9" targetFramework="net461" />
  <package id="MQTTnet" version="3.0.15" targetFramework="net461" />
  <package id="Microsoft.NETCore.Platforms" version="6.0.6" targetFramework="net461" />
  <package id="NCrontab" version="3.3.1" targetFramework="net461" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net461" />
  <package id="NLog" version="4.6.7" targetFramework="net461" />
  <package id="NUnit" version="3.13.3" targetFramework="net461" />
  <package id="SerialPortLib" version="1.0.23" targetFramework="net461" />
  <package id="SharpZipLib" version="1.0.0" targetFramework="net45" />
  <package id="SolarCalculator" version="3.1.0" targetFramework="net461" />
  <package id="SuperSocket.ClientEngine.Core" version="0.10.0" targetFramework="net452" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net461" />
  <package id="System.Memory" version="4.5.4" targetFramework="net461" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net461" />
  <package id="System.Net.Security" version="4.3.2" targetFramework="net461" />
  <package id="System.Net.WebSockets" version="4.3.0" targetFramework="net461" />
  <package id="System.Net.WebSockets.Client" version="4.3.2" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net461" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net461" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net461" />
  <package id="UnitsNet" version="3.46.1" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="UDE.CSharp" version="1.1.0" targetFramework="net45" />
  <package id="UPnP" version="1.0.1" targetFramework="net461" />
  <package id="WebSocket4Net" version="0.15.2" targetFramework="net452" />
  <package id="WebSocketSharp-netstandard" version="1.0.1" targetFramework="net45" />
  <package id="XTenLib" version="1.0.15" targetFramework="net45" />
  <package id="ZWaveLib" version="1.0.23" targetFramework="net461" />
</packages>