<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Angle" version="3.2.1" targetFramework="net472" />
  <package id="CM19Lib" version="1.1.8" targetFramework="net461" />
  <package id="Common.Logging" version="3.4.1" targetFramework="net472" />
  <package id="Common.Logging.Core" version="3.4.1" targetFramework="net472" />
  <package id="CommonMark.NET" version="0.15.1" targetFramework="net45" />
  <package id="CronExpressionDescriptor" version="2.19.0" targetFramework="net472" />
  <package id="Jint" version="3.0.0-beta-2044" targetFramework="net461" />
  <package id="Esprima" version="3.0.0-beta-9" targetFramework="net461" />
  <package id="HG.Raspberry.IO.Components" version="2.4.7" targetFramework="net461" />
  <package id="HG.Raspberry.IO.GeneralPurpose" version="2.4.5" targetFramework="net461" />
  <package id="HG.Raspberry.IO.InterIntegratedCircuit" version="2.4.5" targetFramework="net461" />
  <package id="HG.Raspberry.IO.SerialPeripheralInterface" version="2.4.5" targetFramework="net461" />
  <package id="HG.Raspberry.System" version="2.1.1" targetFramework="net461" />
  <package id="KNX.net" version="1.1.10" targetFramework="net461" />
  <package id="LibUsbDotNet" version="2.2.29" targetFramework="net472" />
  <package id="LiteDB" version="5.0.12" targetFramework="net461" />
  <package id="MIG" version="1.2.3" targetFramework="net472" />
  <package id="MIG.HomeAutomation" version="1.1.7" targetFramework="net461" />
  <package id="MIG.Protocols" version="1.1.9" targetFramework="net461" />
  <package id="MQTTnet" version="4.1.4.563" targetFramework="net472" />
  <package id="MessagePack" version="2.4.59" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration" version="2.1.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="2.1.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="2.1.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging" version="2.1.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Options" version="2.1.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Primitives" version="2.1.0" targetFramework="net472" />
  <package id="Microsoft.NET.StringTools" version="17.4.0" targetFramework="net472" />
  <package id="NLog" version="5.1.0" targetFramework="net472" />
  <package id="MessagePack.Annotations" version="2.4.59" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.7.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="2.1.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="2.1.0" targetFramework="net472" />
  <package id="Microsoft.NETCore.Platforms" version="6.0.6" targetFramework="net461" />
  <package id="NCrontab" version="3.3.1" targetFramework="net461" />
  <package id="NETStandard.Library" version="2.0.3" targetFramework="net461" />
  <package id="NLog.Extensions.Logging" version="5.2.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net472" />
  <package id="NUnit" version="3.13.3" targetFramework="net461" />
  <package id="SerialPortLib" version="1.0.23" targetFramework="net461" />
  <package id="SharpZipLib" version="1.4.1" targetFramework="net472" />
  <package id="SolarCalculator" version="3.2.1" targetFramework="net472" />
  <package id="SuperSocket.ClientEngine.Core" version="0.10.0" targetFramework="net452" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net461" />
  <package id="System.Collections.Immutable" version="1.7.1" targetFramework="net472" />
  <package id="System.Memory" version="4.5.5" targetFramework="net472" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net461" />
  <package id="System.Net.Security" version="4.3.2" targetFramework="net461" />
  <package id="System.Net.WebSockets" version="4.3.0" targetFramework="net461" />
  <package id="System.Net.WebSockets.Client" version="4.3.2" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Reflection.Emit" version="4.7.0" targetFramework="net472" />
  <package id="System.Reflection.Emit.Lightweight" version="4.7.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net461" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="Ude.NetStandard" version="1.2.0" targetFramework="net472" />
  <package id="UnitsNet" version="4.94.0" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="UDE.CSharp" version="1.1.0" targetFramework="net45" />
  <package id="UPnP" version="1.0.1" targetFramework="net461" />
  <package id="WebSocket4Net" version="0.15.2" targetFramework="net452" />
  <package id="WebSocketSharp-NonPreRelease" version="1.0.0" targetFramework="net472" />
  <package id="WebSocketSharp-netstandard" version="1.0.1" targetFramework="net45" />
  <package id="XTenLib" version="1.0.15" targetFramework="net45" />
  <package id="ZWaveLib" version="1.0.23" targetFramework="net461" />
</packages>