/* You can add global styles to this file, and also import other style files */

html, body { min-height: 100vh; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@import "styles/settings/variables";

/* customizations to material components */
.mat-checkbox {
    display: block;
    padding-top: 8px;
    padding-bottom: 8px;
}

/* other custom global styles */
.label {
    display: block;
    color: var(--accent);
    font-size: 80%;
    margin-top: 6px;
    margin-bottom: 6px;
}
.color-accent {
  color: var(--accent);
}
.color-primary {
  color: var(--primary);
}
.color-warn {
  color: var(--warn);
}
.color-todo-note {
  color: orange;
  font-size: 60%;
  text-transform: uppercase;
  text-align: center;
  opacity: 0.5;
}
.link-active {
  background-color: rgba(0,0,0,0.05);
}
