<h1 mat-dialog-title fxLayout="row" fxLayoutAlign="space-between center">
  <span>Set Color</span>
</h1>

<div mat-dialog-content>

  <div fxLayout="row" fxLayoutAlign="center center">
    <compact-picker [(color)]="color"
                    (colorChange)="onColorChange($event)"
                    [control]="compactControl"></compact-picker>
  </div>

</div>

<mat-dialog-actions fxLayout="row" fxLayoutAlign="end start">
  <button mat-button mat-dialog-close>{{ "cancel" | translate }}</button>
  <button mat-button [mat-dialog-close]="getColor()">{{ "apply" | translate }}</button>
  <!--
  <button mat-button [mat-dialog-close]="changes" [disabled]="this.changes.length === 0">{{ "apply" | translate }}</button>
  -->
</mat-dialog-actions>
