<a mat-flat-button
   routerLink="/"
   [queryParams]="{ group: group.name }"
   routerLinkActive="link-active">
  <!--
  <mat-icon [color]="hgui.getCurrentGroup() !== group ? 'primary' : 'accent'">view_quilt</mat-icon>
  -->
  <span class="group-title">{{ group.name }}</span>
  <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="4px" class="indicators">
    <div fxLayoutAlign="start start" fxLayoutGap="4px">
      <svg-icon src="../assets/images/indicators/luminance.svg" [svgStyle]="{ 'fill': '#aaa', 'width': '24px', 'height': '24px' }"></svg-icon>
      <span class="indicator-value">450</span>
    </div>
    <div fxLayoutAlign="start start" fxLayoutGap="4px">
      <!-- mat-icon>wb_sunny</mat-icon -->
      <svg-icon src="../assets/images/indicators/temperature.svg" [svgStyle]="{ 'fill': '#aaa', 'width': '24px', 'height': '24px' }"></svg-icon>
      <span class="indicator-value">23.5C</span>
    </div>
    <div fxLayoutAlign="start start" fxLayoutGap="4px">
      <svg-icon src="../assets/images/indicators/humidity.svg" [svgStyle]="{ 'fill': '#aaa', 'width': '24px', 'height': '24px' }"></svg-icon>
      <span class="indicator-value">35%</span>
    </div>
    <div fxLayoutAlign="start start" fxLayoutGap="4px">
      <svg-icon src="../assets/images/indicators/lightbulb.svg" [svgStyle]="{ 'fill': '#aaa', 'width': '24px', 'height': '24px' }"></svg-icon>
      <span class="indicator-value">4</span>
    </div>
    <div fxLayoutAlign="start start" fxLayoutGap="4px">
      <svg-icon src="../assets/images/indicators/socket.svg" [svgStyle]="{ 'fill': '#aaa', 'width': '24px', 'height': '24px' }"></svg-icon>
      <span class="indicator-value">2</span>
    </div>
    <div fxLayoutAlign="start start" fxLayoutGap="4px">
      <svg-icon src="../assets/images/indicators/power.svg" [svgStyle]="{ 'fill': 'none', 'stroke': '#aaa', 'width': '24px', 'height': '24px' }"></svg-icon>
      <span class="indicator-value">{{ group.modules.length }}</span>
    </div>
  </div>
</a>
