a {
  width: 100%;
  text-align: left;
}
.group-title {
}
.selected {
  font-weight: bold;
}
.indicators {
}
.indicator-value {
  font-size: 90%;
  text-align: center;
  width: 36px;
  overflow-x: hidden;
  line-height: 24px;
  vertical-align: middle;
}
