a {
  width: 100%;
  text-align: left;
  margin-top: 12px;
}
.group-title {
}
.selected {
  font-weight: bold;
}
.indicators {
  padding-top: 6px;
  padding-left: 24px;
}
.indicator-value {
  text-align: left;
  overflow-x: hidden;
  line-height: 24px;
  vertical-align: middle;
  margin-left: 4px;
  margin-right: 8px;
  width: 48px;
}
.svg-icon {
  stroke: var(--text-color);
  fill: var(--text-color);
  width: 24px;
  height: 24px;
  max-width: 24px;
  max-height: 24px;
  opacity: 0.75;
  margin: 4px;
}
