.status-container {
  min-height: 20px;
}
.status-led {
  display: inline-block;
  width: 12px;
  max-width: 12px;
  height: 6px;
  max-height: 6px;
  background-color: darkgreen;
  border-radius: 4px;
}
.active-led {
  background-color: lime;
}
.error-led {
  background-color: red;
}
