// Set variables to whatever colors you want for your app
$dark-theme-primary: mat-palette($mat-light-green, A200);
$dark-theme-accent: mat-palette($mat-yellow);
$dark-theme-warn: mat-palette($mat-red);

$dark-theme: mat-dark-theme(
    $dark-theme-primary,
    $dark-theme-accent,
    $dark-theme-warn
);

@include angular-material-theme($dark-theme);
