<div *ngFor="let s of schedulerItems; let i = index">
  <div *ngIf="s.moduleTypes.indexOf(module.type) >= 0" class="margin-top">
    <mat-checkbox [checked]="activeItems[i].oldValue" (change)="checkBoxChange($event, i)">{{s.name}}</mat-checkbox>
    <div class="margin-left">
      <p>{{ s.description }}</p>
      <div *ngIf="getOccurrences(s).length === 0" class="margin-top color-primary">Not scheduled.</div>
      <div class="margin-right" [ngStyle]="{ 'display': getOccurrences(s).length > 0 ? '' : 'none' }">
        <app-scheduling-bar [index]="i" [occurrences]="getOccurrences(s)"></app-scheduling-bar>
      </div>
    </div>
  </div>
</div>
