:host {
  ::ng-deep .mat-checkbox-layout {
    color: var(--accent-color);
    font-size: 120%;
    margin-top: 8px;
  }
}

.margin-top {
  margin-top: 8px;
}
.margin-left {
  margin-left: 24px;
}
.margin-right {
  margin-right: 24px;
}
