@font-face {
    font-family: "lobster";
    src: url("./lobster.woff");
  }
/*
  @font-face {
    font-family: "lobster-Medium";
    src: url("./lobster-medium.woff");
  }
  @font-face {
    font-family: "lobster-Light";
    src: url("./lobster-light.woff");
  }
*/
