<mat-card *ngIf="!isSmallScreen else compactView" class="widget-big mat-elevation-z3">
  <mat-card-header>
    <mat-card-title>{{ module.name }}</mat-card-title>
    <mat-card-subtitle>
      <app-activity-status [module]="module"></app-activity-status>
    </mat-card-subtitle>
    <app-widget-options-menu style="position: absolute;right:8px; top:8px;"
                             [module]="module"
                             (menuOptionSelect)="onMenuOptionSelected($event)">
    </app-widget-options-menu>
  </mat-card-header>
  <mat-card-content fxLayout="column" fxLayoutAlign="start stretch">

    <div fxLayout="row wrap" fxLayoutAlign="space-around start" fxLayoutGap="16">

      <div fxLayout="column" fxLayoutAlign="center center">
        <div class="label">Actual Load</div>
        <div fxLayout="row" fxLayoutAlign="start center">
          <mat-icon style="opacity: 0.25">flash_on</mat-icon>
          <div class="number-big">{{ actualLoad.value }}</div>
        </div>
      </div>
      <div fxLayout="column" fxLayoutAlign="center center">
        <div class="label">Lights</div>
        <div fxLayout="row" fxLayoutAlign="start center">
          <mat-icon style="opacity: 0.25">emoji_objects</mat-icon>
          <div class="number-big">{{ lightsCount.value }}</div>
        </div>
      </div>
      <div fxLayout="column" fxLayoutAlign="center center">
        <div class="label">Appliances</div>
        <div fxLayout="row" fxLayoutAlign="start center">
          <mat-icon style="opacity: 0.25">power</mat-icon>
          <div class="number-big">{{ appliancesCount.value }}</div>
        </div>
      </div>
      <div fxLayout="column" fxLayoutAlign="center center">
        <div class="label">Today Counter</div>
        <div fxLayout="row" fxLayoutAlign="start center">
          <mat-icon style="opacity: 0.25">today</mat-icon>
          <div class="number-big">{{ todayCounter.value }}</div>
        </div>
      </div>
      <div fxLayout="column" fxLayoutAlign="center center">
        <div class="label">Total Counter</div>
        <div fxLayout="row" fxLayoutAlign="start center">
          <mat-icon style="opacity: 0.25">date_range</mat-icon>
          <div class="number-big">{{ totalCounter.value }}</div>
        </div>
      </div>

    </div>

    <div class="chart-view" (window:resize)="onResize($event)">
      <canvas *ngIf="!isResizing" baseChart height="120"
              [datasets]="lineChartData"
              [labels]="lineChartLabels"
              [options]="lineChartOptions"
              [colors]="lineChartColors"
              [legend]="lineChartLegend"
              [chartType]="lineChartType"
              [plugins]="lineChartPlugins"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
    </div>

  </mat-card-content>
</mat-card>
<ng-template #compactView>
  <mat-card class="widget-medium mat-elevation-z3">
    <mat-card-header>
      <mat-card-title>{{ module.name }}</mat-card-title>
      <mat-card-subtitle fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
        <!-- div class="status-led" [ngClass]="{ 'active-led': status === 'active' }"></div -->
        <!-- span>{{ module.type }}</span -->
        <!-- mat-icon color="primary">flash_on</mat-icon -->
        <span>12.4 W</span>
      </mat-card-subtitle>
      <app-widget-options-menu style="position: absolute;right:8px; top:8px;"
                               [module]="module"
                               (menuOptionSelect)="onMenuOptionSelected($event)">
      </app-widget-options-menu>
    </mat-card-header>
    <mat-card-content fxLayout="column" fxLayoutAlign="center stretch">
      {{ matcher.matches }}
      <br>
      // TODO: Energy Monitor compact view
    </mat-card-content>
  </mat-card>
</ng-template>

<!-- the following hidden div are used to get material theme colors from typescript -->
<div #primary class="mat-button mat-primary" style="display:none"></div>
<div #accent class="mat-button mat-accent" style="display:none"></div>
<div #warn class="mat-button mat-warn" style="display:none"></div>
