:host {
  ::ng-deep .mat-card-header-text {
    margin-left: 0 !important;
  }
  ::ng-deep .mat-card-header {
    max-height: 48px !important;
  }
}

.widget-big {
  width: 460px;
  height: 296px;
  margin: 12px;
}
.widget-medium {
  width: 280px;
  height: 148px;
  margin: 12px;
}

.number-big {
  font-size: 120%;
}

.chart-view {
  margin-top: 16px;
  display: block;
}
