.text-align-center {
  text-align: center;
}
.text-align-right {
  text-align: right;
}

/** CSS for non-standard jQuery Mobile styles or Codiqa components **/
.split-wrapper {
  width: 100%;
  min-height: 200px;
  clear: both;
}
@media all and (min-width: 650px) {
	.content-secondary {
		text-align: left;
		float: left;
		width: 45%;
		background: none;
		padding: 1.5em 6% 3em 0;
		margin: 0;
	}
	.content-secondary {
    background: none;
    border-top: none;
	}
	.content-primary {
		width: 45%;
		float: right;
		margin-right: 1%;
		padding-right: 1%;
	}
	.content-primary ul:first-child {
		margin-top: 0;
	}
  .content-secondary ul.ui-listview, .content-secondary ul.ui-listview-inset {
    margin: 0;
  }
  .content-secondary ul.ui-listview .ui-li-divider, .content-secondary ul.ui-listview .ui-li {
    border-radius: 0px;
  }
  .content-secondary ul.ui-listview .ui-li {
    border-left: 0;
    border-right: 0;
  }
	.content-secondary h2 {
		position: absolute;
		left: -9999px;
	}
	.content-secondary .ui-li-divider {
		padding-top: 1em;
		padding-bottom: 1em;
	}
	.content-secondary {
		margin: 0;
		padding: 0;
	}
  
}
@media all and (min-width: 750px)
{
	.content-secondary {
		width: 34%;
	}
	.content-primary {
		width: 60%;
		padding-right: 1%;
	}	
  .content-secondary ul.ui-listview-inset {
  }
}
@media all and (min-width: 1200px){
	.content-secondary {
		width: 30%;
		padding-right:6%;
		margin: 0px 0 20px 5%;
	}
	.content-secondary ul {
    margin: 0;
  }
	.content-secondary {
		margin: 0;
		padding: 0;
	}
	.content-primary {
		width: 50%;
		margin-right: 5%;
		padding-right: 3%;
	}
	.content-primary {
		width: 60%;
	}
}



/* App custom styles */

.ui-slider 
{
  width : 90% !important;
  /*background : yellow;*/
}

input.ui-slider-input 
{
  display : none !important;
}

.ui-slider-handle 
{
  /*background : red;*/
}

.listview-selected 
{
    border: dashed 1px red;
    background:yellow;
}

.listview-notselected 
{
    border: solid 1px transparent;
    background:transparent;
}

    
    
input::-webkit-input-placeholder {
    color:    #BBB;
}
input:-moz-placeholder {
    color:    #BBB;
}
input:-ms-input-placeholder {
    color:    #BBB;
}


.programline
{
    margin: 10px;
}


.ui-li-has-thumb .ui-btn-inner a.ui-link-inherit,.ui-li-static.ui-li-has-thumb
{
    padding-left: 70px !important;
}

/* custom icons */

.ui-icon-play {
    background-image: url(/hg/html/images/play-icon.png);
    background-position: left 1px top 1px;    
    /*border:solid 1px #fff;
    border-radius: 30px;
    width:30px;*/
}

.ui-page {
/*    background: url(/hg/html/images/background.jpg) no-repeat center center fixed; */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}










/* btn z theme for control page */
.ui-btn-up-z {
	border: 2px solid #f9f9f9 /*{b-bup-border}*/;
	background: #ffffff /*{b-bup-background-color}*/;
	font-weight: bold;
	color: #000000 /*{b-bup-color}*/;
	text-shadow: 0 /*{b-bup-shadow-x}*/ 1px /*{b-bup-shadow-y}*/ 0 /*{b-bup-shadow-radius}*/ #eeeeee /*{b-bup-shadow-color}*/;
}
.ui-btn-up-z:visited,
.ui-btn-up-z a.ui-link-inherit {
	color: #000000 /*{b-bup-color}*/;
}
.ui-btn-hover-z {
	border: 2px solid #f9f9f9 /*{b-bhover-border}*/;
	background: #cae5f1 /*{b-bhover-background-color}*/;
	font-weight: bold;
	color: #000000 /*{b-bhover-color}*/;
	text-shadow: 0 /*{b-bhover-shadow-x}*/ 1px /*{b-bhover-shadow-y}*/ 0 /*{b-bhover-shadow-radius}*/ #eeeeee /*{b-bhover-shadow-color}*/;
}
.ui-btn-hover-z:visited,
.ui-btn-hover-z:hover,
.ui-btn-hover-z a.ui-link-inherit {
	color: #000000 /*{b-bhover-color}*/;
}
.ui-btn-down-z {
	border: 2px solid #f9f9f9 /*{b-bdown-border}*/;
	background: #d0dbe2 /*{b-bdown-background-color}*/;
	font-weight: bold;
	color: #000000 /*{b-bdown-color}*/;
	text-shadow: 0 /*{b-bdown-shadow-x}*/ 1px /*{b-bdown-shadow-y}*/ 0 /*{b-bdown-shadow-radius}*/ #eeeeee /*{b-bdown-shadow-color}*/;
}
.ui-btn-down-z:visited,
.ui-btn-down-z:hover,
.ui-btn-down-z a.ui-link-inherit {
	color: #000000 /*{b-bdown-color}*/;
}
.ui-btn-up-z,
.ui-btn-hover-z,
.ui-btn-down-z {
	    font-family: Lucida Sans, Helvetica, Arial, sans-serif /*{global-font-family}*/;
	text-decoration: none;
}