/* Fonts */

body, a, label, input, option, textarea, span, div, p, h1, h2, h3, h4, h5, h6 {
	font-family: 'Oxygen', Thaoma, Arial, sans-serif !important;
	font-weight: normal;
}


/* Code Mirror */

.CodeMirror {border-top: 1px solid black; border-bottom: 1px solid black;}
.CodeMirror-focused .cm-matchhighlight {
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAFklEQVQI12NgYGBgkKzc8x9CMDAwAAAmhwSbidEoSQAAAABJRU5ErkJggg==);
    background-position: bottom;
    background-repeat: repeat-x;
}



/* General purpose */

.text-align-center {
  text-align: center;
}
.text-align-right {
  text-align: right;
}
.programline
{
    margin: 10px;
}



/* HomeGenie UI */

#systemsettings_updateinstall_popup-popup,
#systemsettings_zwavediscovery_popup-popup {
    width: 90%;
    left: 5%;
    right: 5%
}
#automationprograms_program_options-popup
{
    min-width:280px;
    max-width:90%;
}

.hg-event-popup
{
    position:fixed;
    background-color:black;
    color:white;
    font-family:monospace !important;
    font-size:10pt;
    border:solid 1px gray;
    padding:5px;
    margin-top:85px;
    right:-300px;
    width:285px;
    max-height:120px; 
    opacity:0.0;
    z-index:1973;
}

.hg-popup-a
{
    min-width:250px;
    max-width:400px;
}

.hg-popup-b
{
    min-width:300px;
    max-width:600px;
}

.hg-program-options-scroll
{
    border:solid 1px gray;
    padding:5px;
    padding-top:0;
    height:180px;
    max-height:180px;
    overflow-y:scroll;
    overflow-x:hidden;
}

.hg-widget-a
{
    width:260px;
    margin:15px;
}

.hg-widget-b
{
    min-width:260px;
    max-width:540px;
    margin:15px;
}

.hg-widget-c
{
    width:auto;
    margin:15px;
}

.hg-widget-header
{
    display: inline-block;
	font-weight: bold;
	font-size: 18pt;
	margin:0;
	padding:0;
}
.hg-widget-footer
{
	padding-left:5px;
	padding-right:8px;
	padding-bottom:2px;
}
.hg-widget-group-title
{
    display: inline-block;
    width:100%;
	margin:0;
	margin-top:10px;
	margin-bottom:20px;
	padding:10px;
}

.hg-widget-container
{
	float: left;
	margin:0px;
	padding:0px;
	text-align: left;
}

.hg-widget-icon
{
	margin-left:20px;
	height:64px;
}


/* Indicators Icons */

.hg-indicator-energy
{
  display: inline-block;
  line-height:30px;
  padding-left: 25px;
  background: url("../images/indicators/energy-black.png") no-repeat scroll 0 6px transparent;
  vertical-align: middle;
  font-size:14pt;
  font-weight:bold;
}

.hg-indicator-temperature
{
  display: inline-block;
  line-height:30px;
  padding-left: 25px;
  background: url("../images/indicators/temperature-black.png") no-repeat scroll 0 6px transparent;
  vertical-align: middle;
  font-size:14pt;
  font-weight:bold;
}

.hg-indicator-humidity
{
  display: inline-block;
  line-height:30px;
  padding-left: 25px;
  background: url("../images/indicators/humidity-black.png") no-repeat scroll 0 6px transparent;
  vertical-align: middle;
  font-size:14pt;
  font-weight:bold;
}

.hg-indicator-luminance
{
  display: inline-block;
  line-height:30px;
  padding-left: 25px;
  background: url("../images/indicators/luminance-black.png") no-repeat scroll 0 6px transparent;
  vertical-align: middle;
  font-size:14pt;
  font-weight:bold;
}

.hg-indicator-bulb
{
  display: inline-block;
  line-height:30px;
  padding-left: 25px;
  background: url("../images/indicators/bulb-black.png") no-repeat scroll 0 6px transparent;
  vertical-align: middle;
  font-size:14pt;
  font-weight:bold;
}

.hg-indicator-plug
{
  display: inline-block;
  line-height:30px;
  padding-left: 25px;
  background: url("../images/indicators/plug-black.png") no-repeat scroll 0 6px transparent;
  vertical-align: middle;
  font-size:14pt;
  font-weight:bold;
}

.hg-indicator-door
{
  display: inline-block;
  line-height:30px;
  padding-left: 25px;
  background: url("../images/indicators/plug-door.png") no-repeat scroll 0 6px transparent;
  vertical-align: middle;
  font-size:14pt;
  font-weight:bold;
}

/* Inverted icons for theme A */

div.ui-page-theme-a div.ui-body-inherit span.hg-indicator-energy,div.ui-bar-inherit span.hg-indicator-energy
{
  background: url("../images/indicators/energy.png") no-repeat scroll 0 6px transparent;
}

div.ui-page-theme-a div.ui-body-inherit span.hg-indicator-temperature,div.ui-bar-inherit span.hg-indicator-temperature
{
  background: url("../images/indicators/temperature.png") no-repeat scroll 0 6px transparent;
}

div.ui-page-theme-a div.ui-body-inherit span.hg-indicator-humidity,div.ui-bar-inherit span.hg-indicator-humidity
{
  background: url("../images/indicators/humidity.png") no-repeat scroll 0 6px transparent;
}

div.ui-page-theme-a div.ui-body-inherit span.hg-indicator-luminance,div.ui-bar-inherit span.hg-indicator-luminance
{
  background: url("../images/indicators/luminance.png") no-repeat scroll 0 6px transparent;
}

div.ui-page-theme-a div.ui-body-inherit span.hg-indicator-bulb,div.ui-bar-inherit span.hg-indicator-bulb
{
  background: url("../images/indicators/bulb.png") no-repeat scroll 0 6px transparent;
}

div.ui-page-theme-a div.ui-body-inherit span.hg-indicator-plug,div.ui-bar-inherit span.hg-indicator-plug
{
  background: url("../images/indicators/plug.png") no-repeat scroll 0 6px transparent;
}

div.ui-page-theme-a div.ui-body-inherit span.hg-indicator-door,div.ui-bar-inherit span.hg-indicator-door
{
  background: url("../images/indicators/door.png") no-repeat scroll 0 6px transparent;
}

.freewall 
{
    float: left;
}


/**** media queries ****/

/** Small Mobile **/
@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
	.hg-event-popup
	{
		display:none;
	}
}


/** Mobile **/
@media only screen and (max-width: 767px), only screen and (max-device-width: 767px) {

}

/** Tablet **/
@media only screen and (min-width : 768px) and (max-width : 1024px) {

}

/** Tablet (landscape) **/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {

}
