<!-- network nodes list -->
<ng-container *ngIf="currentPage === PageId.MANAGEMENT">
  <h1 mat-dialog-title fxLayout="row" fxLayoutAlign="space-between stretch">
    <div>
      <button class="dialog-close-button" mat-icon-button color="primary" mat-dialog-close>
        <mat-icon>arrow_back</mat-icon>
      </button>
      <span class="dialog-title">{{ "device_manager" | translate }}</span>
    </div>
    <img src="assets/images/zwave/zwave-logo.png" height="32" fxFlexAlign="center">
  </h1>
  <div mat-dialog-content class="overlay-container">

    <app-zwave-node-list [modules]="modules" (itemClick)="showNodeConfig($event)"></app-zwave-node-list>

    <div class="overlay" *ngIf="isNetworkBusy">
      <mat-spinner mode="indeterminate" diameter="48"></mat-spinner>
    </div>
  </div>
  <div mat-dialog-actions *ngIf="currentPage === PageId.MANAGEMENT" fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-button [disabled]="isNetworkBusy" (click)="nodeAdd($event)" color="primary">
      <mat-icon>add_circle_outline</mat-icon>
      {{ "add_device" | translate }}
    </button>
    <button mat-button [disabled]="isNetworkBusy" (click)="discovery($event)" color="primary">
      {{ "synchronize" | translate }}
      <mat-icon>sync</mat-icon>
    </button>
  </div>
</ng-container>

<ng-container *ngIf="currentPage === PageId.NODE_CONFIG">
  <h1 mat-dialog-title fxLayout="row" fxLayoutAlign="space-between stretch">
    <div>
      <button class="dialog-close-button" mat-icon-button (click)="discovery($event)" color="primary">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <span class="dialog-title">{{ "ZWAVE.node_config" | translate }}</span>
    </div>
    <img src="assets/images/zwave/zwave-logo.png" height="32" fxFlexAlign="center">
  </h1>

  <div mat-dialog-content>

    <app-zwave-node-config [module]="currentModule"></app-zwave-node-config>

  </div>
  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-button (click)="nodeRemove($event)" color="primary">
      <mat-icon color="warn">delete</mat-icon>
      <span>{{ "remove" | translate }}</span>
    </button>
    <button mat-button [disabled]="true || isNetworkBusy" color="primary">
      {{ "synchronize" | translate }}
      <mat-icon>sync</mat-icon>
    </button>
  </div>
</ng-container>

<!-- node add -->
<ng-container *ngIf="currentPage === PageId.NODE_ADD">
  <h1 mat-dialog-title fxLayout="row" fxLayoutAlign="space-between stretch">
    {{ "ZWAVE.node_inclusion" | translate }}
    <img src="assets/images/zwave/zwave-logo.png" height="32" fxFlexAlign="center">
  </h1>
  <div mat-dialog-content [ngSwitch]="status">

    <div *ngSwitchCase="PageStatus.REQUEST" style="overflow: hidden" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="12px">
      <div>{{ "ZWAVE.enabling_node_inclusion" | translate }}</div>
      <mat-spinner diameter="18"></mat-spinner>
    </div>

    <div *ngSwitchCase="PageStatus.READY">
      <div *ngIf="operationNodeAddress === 0">
        <p>{{ "ZWAVE.inclusion_message" | translate }}</p>
        <mat-progress-bar *ngIf="isNetworkBusy" mode="buffer" [value]="isNetworkBusy ? (operationTimeout/operationTimeoutSeconds)*100 : 0"></mat-progress-bar>
        <div class="progress-message">{{ "ZWAVE.task_duration_notice" | translate:translateParams }}</div>
      </div>
      <div *ngIf="operationNodeAddress !== 0" style="overflow: hidden" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="12px">
        <div [innerHTML]="'ZWAVE.adding_node' | translate:translateParams"></div>
        <mat-spinner diameter="18"></mat-spinner>
      </div>
    </div>

    <div *ngSwitchCase="PageStatus.SUCCESS" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="4px">
      <div [innerHTML]="'ZWAVE.node_added' | translate:translateParams"></div>
      <mat-icon color="primary">check</mat-icon>
    </div>

    <div *ngSwitchCase="PageStatus.FAILURE" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="4px">
      <div>{{ "operation_failed" | translate }}</div>
      <mat-icon color="warn">close</mat-icon>
    </div>
  </div>
</ng-container>

<!-- node remove -->
<ng-container *ngIf="currentPage === PageId.NODE_REMOVE">
  <div mat-dialog-content [ngSwitch]="status">
    <h1 mat-dialog-title fxLayout="row" fxLayoutAlign="space-between stretch">
      {{ "ZWAVE.node_exclusion" | translate }}
      <img src="assets/images/zwave/zwave-logo.png" height="32" fxFlexAlign="center">
    </h1>

    <div *ngSwitchCase="PageStatus.REQUEST" style="overflow: hidden" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="12px">
      <div>{{ "ZWAVE.enabling_node_exclusion" | translate }}</div>
      <mat-spinner diameter="18"></mat-spinner>
    </div>

    <div *ngSwitchCase="PageStatus.READY">
      <div *ngIf="operationNodeAddress === 0">
        <p>{{ "ZWAVE.exclusion_message" | translate }}</p>
        <mat-progress-bar *ngIf="isNetworkBusy" mode="buffer" [value]="isNetworkBusy ? (operationTimeout/operationTimeoutSeconds)*100 : 0"></mat-progress-bar>
        <div class="progress-message">{{ "ZWAVE.task_duration_notice" | translate:translateParams }}</div>
      </div>
      <div *ngIf="operationNodeAddress !== 0" style="overflow: hidden" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="12px">
        <div [innerHTML]="'ZWAVE.removing_node' | translate:translateParams"></div>
        <mat-spinner diameter="18"></mat-spinner>
      </div>
    </div>

    <div *ngSwitchCase="PageStatus.SUCCESS" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="4px">
      <div [innerHTML]="'ZWAVE.node_removed' | translate:translateParams"></div>
      <mat-icon color="primary">check</mat-icon>
    </div>

    <div *ngSwitchCase="PageStatus.FAILURE" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="4px">
      <div>{{ "operation_failed" | translate }}</div>
      <mat-icon color="warn">close</mat-icon>
    </div>
  </div>
</ng-container>

<!-- shared buttons in node add/remove -->
<ng-container *ngIf="currentPage !== PageId.MANAGEMENT && currentPage !== PageId.NODE_CONFIG && !isNetworkBusy">
  <div mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-button (click)="retryOperation($event)" [ngStyle]="{ visibility: status === PageStatus.FAILURE ? 'visible' : 'hidden' }" color="primary">
      <mat-icon>refresh</mat-icon>
      {{ "retry" | translate }}
    </button>
    <button mat-button (click)="discovery()" color="primary">
      <!-- mat-icon aria-label="Back to node list">close</mat-icon -->
      <span *ngIf="status === PageStatus.FAILURE">{{ "cancel" | translate }}</span>
      <span *ngIf="status === PageStatus.SUCCESS">{{ "ok" | translate }}</span>
    </button>
  </div>
</ng-container>
