@import "../../../../variables";
.progress-message {
  text-align: center;
  padding: 8px;
  font-size: 80%;
}
.mat-dialog-actions {
  min-width: 320px;
}
.dialog-close-button {
  transform: translate(-12px, -4px);
}
.dialog-title {
  transform: translateX(-12px);
  display: inline-block;
}
.overlay {
  overflow: hidden;
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-color: rgba(255, 255, 255, 0.65);
}
.overlay-container {
  position: relative;
  min-height: 56px;
}
