<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <services>
      <!-- This section is optional with the new configuration model
           introduced in .NET Framework 4. -->
      <service name="HomeGenie.WCF.ManagerService" behaviorConfiguration="ManagerServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8073/HomeGenie/service"/>
          </baseAddresses>
        </host>
        <!-- this endpoint is exposed at the base address provided  -->
        <endpoint address="" binding="netTcpBinding" contract="HomeGenie.WCF.IManager"/>
        <!-- the mex endpoint is exposed at /HomeGenie/service/mex -->
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ManagerServiceBehavior">
          <serviceMetadata httpGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
