<%@ Master Language="C#" Inherits="HomeGenieUI.index" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head runat="server">
	<title>index</title>
</head>
<body>
<div id="container">
<form runat="server">
    <asp:contentplaceholder id="contentPlaceHolder" runat="server" /> 
</form>
</div>
</body>
</html>
