:host {
  ::ng-deep .mat-card-header-text {
    width: 100%;
    margin-left: 0 !important;
    margin-right: 38px !important;
  }
  ::ng-deep .mat-card-header {
    max-height: 48px !important;
  }
}


.widget-small {
  width: 280px;
  height: 296px;
  margin: 12px;
}

.widget-big {
  width: 320px;
  height: 296px;
  margin: 12px;
}
.widget-medium {
  width: 280px;
  height: 148px;
  margin: 12px;
}
