<div *ngIf="!isBinary">
  <div>
    <span class="label">{{ description }}</span>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center">
    <div *ngIf="isInitialized" class="value">{{ slider.value }}</div>
    <mat-slider fxFlex="grow" #slider thumbLabel tickInterval="1"
                [min]="data.type.options[0]"
                [max]="data.type.options[1]"
                [step]="data.type.options[2] ? data.type.options[2] : 1"
                [value]="value"
                (change)="onFieldChange($event)"></mat-slider>
  </div>
</div>
<div *ngIf="isBinary" fxLayout="row" fxLayoutAlign="start center">
  <mat-slide-toggle
    [checked]="value > 0"
    (change)="onFieldChange($event)">{{ description }}</mat-slide-toggle>
</div>
