<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
     <target name="debugger" xsi:type="Console" layout="${longdate} ${level} ${message}"/>
     <target name="logfile" xsi:type="File" fileName="${basedir}/log/${level}.log" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="debugger" />
    <logger name="*" minlevel="Info" writeTo="logfile" />
  </rules>
</nlog>