<button mat-icon-button aria-label="Widget options menu"
        [matMenuTriggerFor]="menu"
        (menuOpened)="onMenuOpened()">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="onOptionsButtonClick('settings')">
    <mat-icon>tune</mat-icon>
    <span>{{'settings' | translate}}</span>
  </button>
  <button mat-menu-item (click)="onOptionsButtonClick('statistics')">
    <mat-icon>insights</mat-icon>
    <span>{{'statistics' | translate}}</span>
  </button>
  <button *ngIf="schedulesCount > 0" mat-menu-item (click)="onOptionsButtonClick('schedule')">
    <mat-icon>schedule</mat-icon>
    <span>{{'schedule' | translate}}</span>
  </button>
</mat-menu>
