<mat-card class="widget-small mat-elevation-z4">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image">
      <mat-spinner *ngIf="isLoading" diameter="40"></mat-spinner>
    </div>
    <mat-card-title>{{ module.name }}</mat-card-title>
    <mat-card-subtitle fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
      <div class="status-led" [ngClass]="{ 'active-led': status === 'active' }"></div>
      <!-- span>{{ module.type }}</span -->
      <!-- mat-icon color="primary">flash_on</mat-icon -->
      <span>12.4 W</span>
    </mat-card-subtitle>
    <button mat-icon-button style="opacity:0.35;position: absolute;right:8px; top:8px;" (click)="onModuleOptionsClick($event)">
      <mat-icon fontSet="material-icons-outlined">tune</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content fxLayout="column" fxLayoutAlign="center stretch">
    <div *ngIf="options.features.dimming" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="6px">
      <mat-slider
        fxFlex="grow"
        (input)="onSliderInput($event)"
        [(value)]="level"
        thumbLabel
        tickInterval="1"
        min="0" max="100"></mat-slider>
      <mat-slide-toggle style="margin-left:8px"
                        (click)="onToggleButtonClick($event)"
                        [checked]="level > 0"></mat-slide-toggle>
    </div>
    <div *ngIf="!options.features.color" fxLayout="row" fxLayoutAlign="space-around center">
      <button mat-stroked-button (click)="onOffButtonClick($event)">OFF</button>
      <button [color]="level > 0 ? 'accent' : ''" mat-stroked-button (click)="onOnButtonClick($event)">ON</button>
    </div>
    <div *ngIf="options.features.color" fxFlex="grow" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="14px">
      <div style="width: 48px; height: 48px; text-align: right;">
        <div class="label" style="line-height: 40px; vertical-align: middle">Presets</div>
      </div>
      <div fxLayout="row"
           fxLayoutAlign="start center"
           fxLayoutGap="12px" style="border: solid 1px rgba(127, 127, 127, 0.5); border-radius: 24px; padding: 4px;">
        <button mat-icon-button style="width: 32px; height: 32px; border: solid 1px rgba(127, 127, 127, 0.5)"
                *ngFor="let preset of colorPresets; let i = index"
                [ngStyle]="{ backgroundColor: preset.value }"
                (click)="onPresetColorClick(i)">
          <mat-icon *ngIf="this.currentPreset === i" style="width: 30px; height: 34px;"
          [ngStyle]="{ color: invertColor(preset.value) }">palette</mat-icon>
        </button>
      </div>
      <button mat-icon-button
              [ngStyle]="{ backgroundColor: color }"
              (click)="onColorClick()">
        <mat-icon *ngIf="this.currentPreset === -1"
                  [ngStyle]="{ color: invertColor(color) }">palette</mat-icon>
      </button>
    </div>
  </mat-card-content>
  <mat-card-actions fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="6px" *ngIf="false">
    <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
      <mat-icon>more_vert</mat-icon>
    </button>
    <button mat-icon-button color="primary" aria-label="Example icon button with a home icon">
      <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button disabled aria-label="Example icon button with a open in new tab icon">
      <mat-icon>open_in_new</mat-icon>
    </button>
  </mat-card-actions>
</mat-card>
