:host {
  ::ng-deep .mat-card-avatar {
    display: none;
  }
  ::ng-deep .mat-card-header-text {
    margin-left: 0 !important;
  }
  ::ng-deep .mat-card-header {
    max-height: 48px !important;
  }
}

.widget-small {
  width: 280px;
  height: 148px;
  margin: 12px;
}

.mat-card-subtitle {
  width: 228px;
  text-align: center;
}
.mat-card-content {
  position: absolute;
  bottom: 12px;
  top: 62px;
  right: 12px;
  left: 12px;
}

.mat-card-actions .mat-button {
  margin: 0;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
