:host {
  /*
  ::ng-deep .mat-card {
    box-shadow: none;
  }
  */
  ::ng-deep .mat-card-avatar {
    display: none;
  }
  ::ng-deep .mat-card-header-text {
    margin-left: 0 !important;
  }
  ::ng-deep .mat-card-header {
    max-height: 48px !important;
  }
}

.widget-small {
  width: 280px;
  height: 148px;
  margin: 12px;
  box-shadow: none;
  border: solid 1px rgba(100,100,100,0.15);
}

.mat-card-subtitle {
  width: 228px;
  text-align: center;
}
.mat-card-content {
  position: absolute;
  bottom: 12px;
  top: 62px;
  right: 12px;
  left: 12px;
}

.mat-card-actions .mat-button {
  margin: 0;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.status-led {
  display: inline-block;
  width: 12px;
  max-width: 12px;
  height: 6px;
  max-height: 6px;
  background-color: darkgreen;
  border-radius: 4px;
}
.active-led {
  background-color: lime;
}
