<div fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="12px">

  <div fxLayout="column" fxLayoutAlign="start stretch">

    <h3 fxLayout="row" fxLayoutAlign="space-between center" style="margin: 0 0 8px;">
      <div fxLayout="row" fxLayoutGap="8px">
        <strong>{{ module.name }}</strong> <span>{{ module.type }}</span>
      </div>
      <strong>{{ module.id.split('/').slice(-1) }}</strong>
    </h3>
    <div>
      {{ module.description }}
    </div>
    <div *ngIf="moduleInfo" class="color-primary" fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="12px">
      <div *ngIf="moduleInfo.brandName">
        <strong>{{ "ZWAVE.brand" | translate }}:</strong> {{ moduleInfo.brandName }}
      </div>
      <div *ngIf="moduleInfo.productName">
        <strong>{{ "ZWAVE.product" | translate }}:</strong> {{ moduleInfo.productName }} ({{ moduleInfo.productLine }})
      </div>
      <div *ngIf="moduleInfo.manufacturerSpecific">
        <strong>{{ "ZWAVE.manufacturer_specific" | translate }}:</strong> {{ moduleInfo.manufacturerSpecific }}
      </div>
      <div *ngIf="moduleInfo.routingInfo">
        <strong>{{ "ZWAVE.routing_info" | translate }}:</strong> {{ moduleInfo.routingInfo }}
      </div>
    </div>

    <div class="color-todo-note">
      // TODO: display widget for controlling / configuring device (the same widget used for the dashboard)
    </div>
  </div>

  <div *ngIf="associations">
    <h3 class="color-accent">{{ "ZWAVE.association_groups" | translate }}</h3>
    <div>
      {{ "ZWAVE.association_description" | translate }}
    </div>
    <div style="margin-top: 12px;max-width:560px" fxLayout="column" fxLayoutAlign="center center">
      <div *ngFor="let group of associations.groups; let i = index" fxLayout="row"
           fxLayoutAlign="space-between stretch"
           fxLayoutGap="16px">
        <div fxLayout="column" fxLayoutAlign="start center">
          <div>
            <strong>{{ "group" | translate}} {{ group.number }}</strong>
            <div class="color-primary">{{ group.description }}&nbsp;</div>
          </div>
          <div fxLayoutAlign="start center">
            <mat-progress-spinner *ngIf="group.status === 1" mode="indeterminate" diameter="18"></mat-progress-spinner>
          </div>
        </div>
        <div fxFlexAlign="end" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="8px">
          <mat-icon *ngIf="false" color="warn">error</mat-icon>
          <mat-form-field>
            <mat-chip-list #chipList style="width: 100%;">
              <mat-chip *ngFor="let node of group.field.value.split(',')" [selectable]="false"
                        [disabled]="group.status === 1 || node === 'None'"
                        [removable]="node !== 'None'" (removed)="onGroupAssociationsRemove($event, group, node)">
                {{node}}
                <mat-icon matChipRemove *ngIf="node !== 'None'">cancel</mat-icon>
              </mat-chip>
              <input placeholder="{{ 'ZWAVE.associated_nodes' | translate }}"
                     (blur)="onGroupAssociationsAdd($event, group)"
                     [disabled]="group.status === 1"
                     [matChipInputFor]="chipList"
                     [matChipInputSeparatorKeyCodes]="associationsSeparator"
                     (matChipInputTokenEnd)="onGroupAssociationsAdd($event, group)">
            </mat-chip-list>
            <mat-hint>
              {{ "ZWAVE.enter_node_number" | translate }}
            </mat-hint>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>

  <div>
    <h3 class="color-accent" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="12px">
      <span>{{ "ZWAVE.configuration_parameters" | translate }}</span>
      <mat-progress-spinner mode="indeterminate" diameter="18" *ngIf="isNetworkBusy"></mat-progress-spinner>
    </h3>
    <div *ngFor="let param of configurationParameters" fxLayout="row" fxLayoutAlign="space-between start"
         style="margin-bottom: 24px;" fxLayoutGap="8px">
      <div>
        <div><strong>{{ param.number }}</strong> - {{ param.name }}</div>
        <div class="color-primary">{{ param.description }}</div>
      </div>
      <div fxFlexAlign="end" fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="12px">
        <mat-icon *ngIf="param.status === 2" color="warn">error</mat-icon>
        <mat-progress-spinner mode="indeterminate" diameter="18" *ngIf="param.status === 1"></mat-progress-spinner>
        <mat-form-field *ngIf="param.type && param.type.id === 'range'">
          <mat-label>{{ "value" | translate }}</mat-label>
          <input matInput placeholder="{{ 'value' | translate }}" type="number" (change)="onConfigParameterChange($event, param)"
                 [min]="param.type.values != null ? param.type.values.from : ''"
                 [max]="param.type.values != null ? param.type.values.to : ''"
                 [disabled]="param.status === 1"
                 [(value)]="param.field.value">
          <mat-hint *ngIf="param.type.values != null" align="end">
            {{ param.type.values.from }} - {{ param.type.values.to }}
            <span *ngIf="param.type.values.unit">({{ param.type.values.unit }})</span>
          </mat-hint>
        </mat-form-field>
        <mat-form-field *ngIf="param.type && param.type.id === 'rangemapped'">
          <mat-label>{{ "value" | translate }}</mat-label>
          <mat-select (selectionChange)="onConfigParameterChange($event, param)" [(value)]="param.field.value"
                      [disabled]="param.status === 1">
            <mat-option *ngFor="let v of param.type.values" [value]="v.from.toString()">
              <strong>{{ v.from }}</strong> - {{ v.description }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="space-between stretch" fxLayoutGap="8px">
      <div>
        <div fxLayout="row" fxLayoutAlign="ceneter start">
          <mat-icon style="font-size: 120%; width: 20px;">edit</mat-icon>
          <strong>{{ "ZWAVE.generic_parameter" | translate}}</strong>
        </div>
        <div class="color-primary">{{ "ZWAVE.generic_parameter_description" | translate }}</div>
      </div>
      <div fxFlexAlign="end" fxFlex="0 1 auto" fxLayout="column" fxLayoutGap="12px" fxLayoutAlign="start end" style="padding-top: 12px">
        <mat-form-field>
          <mat-label>{{ "number" | translate }}</mat-label>
          <input matInput  id="paramNumber" name="paramNumber" #paramNumber="ngModel" [(ngModel)]="customParameterNumber"
                 placeholder="123" type="number" required maxlength="3"
                 [disabled]="customConfigParameter && customConfigParameter.status === 1">
          <mat-hint>
            {{ "ZWAVE.enter_parameter_number" | translate }}
          </mat-hint>
        </mat-form-field>
        <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="6px">
          <mat-icon *ngIf="customConfigParameter && customConfigParameter.status === 2" color="warn">error</mat-icon>
          <mat-progress-spinner *ngIf="customConfigParameter && customConfigParameter.status === 1" mode="indeterminate" diameter="18"></mat-progress-spinner>
          <mat-form-field style="width: 132px">
            <mat-label>{{ "value" | translate }}</mat-label>
            <input matInput id="paramValue" name="paramValue" #paramValue="ngModel" [(ngModel)]="customParameterValue"
                   placeholder="0" type="number"
                   [disabled]="customConfigParameter && customConfigParameter.status === 1"
                   required
                   maxlength="10">
            <mat-hint>
              {{ "ZWAVE.enter_parameter_value" | translate }}
            </mat-hint>
          </mat-form-field>
          <button mat-icon-button color="primary"
                  [disabled]="customConfigParameter && customConfigParameter.status === 1 || !paramNumber.valid || !paramValue.valid "
                  (click)="onCustomParameterSend({ number: paramNumber.value, value: paramValue.value })">
            <mat-icon>send</mat-icon>
          </button>
        </div>
      </div>
    </div>

    <div>
      <h3 class="color-accent">{{ "ZWAVE.command_classes" | translate }}</h3>
      <div fxLayout="row wrap" fxLayoutAlign="start center">
        <button *ngFor="let cc of commandClasses" mat-button [disabled]="true || cc.description == null">
          <strong>{{ cc.id }}</strong>&nbsp;
          <small *ngIf="cc.description == null" class="color-warn">{{ "ZWAVE.missing handler" | translate }}</small>
          <span *ngIf="cc.description" class="color-primary">{{ cc.description }}</span>
        </button>
      </div>
    </div>

    <div style="margin-bottom: 24px">&nbsp;</div>

  </div>
</div>
