<h2>{{ "HOMEGENIE.interfaces_configuration" | translate }}</h2>
<div *ngFor="let driver of drivers; let i = index;">
    <mat-checkbox [checked]="drivers[i].IsEnabled" [(ngModel)]="drivers[i].IsEnabled" (change)="onDriverEnabledChange($event, driver)">
        {{ "HOMEGENIE."+driver.Domain | translate }}
    </mat-checkbox>
    <app-x10-setup-form *ngIf="driver.Domain === 'HomeAutomation.X10' && driver.IsEnabled" [adapter]="adapter"></app-x10-setup-form>
    <app-zwave-setup-form *ngIf="driver.Domain === 'HomeAutomation.ZWave' && driver.IsEnabled" [adapter]="adapter"></app-zwave-setup-form>
</div>

<h2></h2><h2>{{ "HOMEGENIE.programs_options" | translate }}</h2>
<mat-selection-list [multiple]="false">
  <ng-container *ngFor="let group of programsGroups">
    <div mat-subheader>{{ group.name }}</div>
    <ng-container *ngFor="let program of group.programs;">
      <mat-list-option (click)="onProgramSelected(program)">
        <mat-icon mat-list-icon fontSet="material-icons-outlined">settings</mat-icon>
        <div mat-line class="color-accent">{{ program.Name }}</div>
        <div mat-line>{{ program.Description }}</div>
      </mat-list-option>
    </ng-container>
  </ng-container>
</mat-selection-list>
