<mat-vertical-stepper [linear]="false" #stepper>
<mat-step>
    <ng-template matStepLabel>{{ "HOMEGENIE.interfaces_and_applications" | translate }}</ng-template>
    <div *ngFor="let driver of drivers; let i = index;">
        <mat-checkbox [checked]="drivers[i].IsEnabled" [(ngModel)]="drivers[i].IsEnabled">
            {{ "HOMEGENIE."+driver.Domain | translate }}
        </mat-checkbox>
    </div>
</mat-step>
<mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
    <ng-template matStepLabel>{{ "HOMEGENIE.select_modules" | translate }}</ng-template>
    <mat-form-field>
        <mat-label>Address</mat-label>
        <input matInput formControlName="secondCtrl" placeholder="Ex. 1 Main St, New York, NY"
                required>
    </mat-form-field>
    <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
    </div>
    </form>
</mat-step>
<mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
    <button mat-button matStepperPrevious>Back</button>
    <button mat-button (click)="stepper.reset()">Reset</button>
    </div>
</mat-step>
</mat-vertical-stepper>
