Package: homegenie
Version: 1.1-rxyz
Section: web
Priority: optional
Architecture: all
Essential: no
Depends: mono-runtime, libmono-corlib4.5-cil, libmono-system-web4.0-cil, libmono-system-numerics4.0-cil, libmono-system-serviceprocess4.0-cil, libmono-system-data4.0-cil, libmono-system-core4.0-cil, libmono-system-servicemodel4.0a-cil, libmono-windowsbase4.0-cil, libmono-system-runtime-serialization-formatters-soap4.0-cil, libmono-system-runtime-serialization4.0-cil, libmono-system-xml-linq4.0-cil, mono-dmcs, libusb-1.0-0, libusb-1.0-0-dev, alsa-utils, lame, lirc, libv4l-0
Pre-Depends: mono-runtime 
Recommends: ca-certificates-mono 
Suggests: arduino-mk, empty-expect
Installed-Size: -sxyz
Maintainer: Generoso Martello <gene@homegenie.it>
Homepage: http://www.homegenie.it
Conflicts: 
Replaces: 
Provides: 
Description: HomeGenie - open source, programmable, home automation server for smart connected devices and applications.
