on:
  push:
    tags:
      - 'v*.*.*'
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set env
        run: |
          echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
          echo "VERSION_NUMBER=$(echo ${GITHUB_REF#refs/*/} | cut -d"v" -f 2)" >> $GITHUB_ENV

      - name: Get Head Commit Message
        id: get_head_commit_message
        run: git log -1 --no-merges --pretty=%B > release_message.txt

      - name: Setup dotnet
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 10.x

      - name: Build release
        run: |
          dotnet test ./src/HomeGenie.Tests/HomeGenie.Tests.csproj --framework net10.0 -m:1
          cat ./src/HomeGenie/release_info.xml
          ./assets/deploy/linux/build-all.sh

      - name: Zip release bundles
        run: |
          ./assets/deploy/linux/pack-all.sh
          ls -la ./src/HomeGenie/bin/Release/artifacts/

      - name: Build debian package and docs
        run: |
          sudo apt-get install doxygen
          cd ./assets/deploy/linux && sh doxygen.sh
          mv Doxy/homegenie_api.tgz ../../../src/HomeGenie/bin/Release/artifacts/

      - name: Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            ./src/HomeGenie/bin/Release/artifacts/homegenie_${{ env.VERSION_NUMBER }}_linux-arm.zip
            ./src/HomeGenie/bin/Release/artifacts/homegenie_${{ env.VERSION_NUMBER }}_linux-arm64.zip
            ./src/HomeGenie/bin/Release/artifacts/homegenie_${{ env.VERSION_NUMBER }}_osx-x64.zip
            ./src/HomeGenie/bin/Release/artifacts/homegenie_${{ env.VERSION_NUMBER }}_linux-x64.zip
            ./src/HomeGenie/bin/Release/artifacts/homegenie_${{ env.VERSION_NUMBER }}_win-x64.zip
            ./src/HomeGenie/bin/Release/artifacts/homegenie_api.tgz
          body_path: release_message.txt
          generate_release_notes: true
