on:
  push:
    tags:
      - 'v*.*.*'
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Set env
        run: |
          echo "RELEASE_VERSION=${GITHUB_REF#refs/*/}" >> $GITHUB_ENV
          echo "VERSION_NUMBER=$(echo ${GITHUB_REF#refs/*/} | cut -d"v" -f 2)" >> $GITHUB_ENV

      - name: Test
        run: |
          echo $RELEASE_VERSION
          echo ${{ env.RELEASE_VERSION }}
          echo $VERSION_NUMBER
          echo ${{ env.VERSION_NUMBER }}

      - name: Setup dotnet
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 6.0.x

      - name: Build release
        run: |
          dotnet test ./src/HomeGenie.Tests/HomeGenie.Tests.csproj --framework net6.0
          cat ./src/HomeGenie/release_info.xml 
          dotnet publish --framework net472 --configuration Release
          rm -rf ./src/HomeGenie/bin/Release/net472/publish
          cp ./src/HomeGenie/release_info.xml ./src/HomeGenie/bin/Release/net472/
          ls -la ./src/HomeGenie/bin/Release/net472/
          dotnet publish --configuration Release --framework net6.0 --runtime linux-arm   --self-contained
          rm -rf ./src/HomeGenie/bin/Release/net6.0/linux-arm/publish
          cp ./src/HomeGenie/release_info.xml ./src/HomeGenie/bin/Release/linux-arm/
          ls -la ./src/HomeGenie/bin/Release/net6.0/linux-arm
          dotnet publish --configuration Release --framework net6.0 --runtime linux-arm64 --self-contained
          rm -rf ./src/HomeGenie/bin/Release/net6.0/linux-arm64/publish
          cp ./src/HomeGenie/release_info.xml ./src/HomeGenie/bin/Release/linux-arm64/
          ls -la ./src/HomeGenie/bin/Release/net6.0/linux-arm64
          dotnet publish --configuration Release --framework net6.0 --runtime osx-x64     --self-contained
          rm -rf ./src/HomeGenie/bin/Release/net6.0/osx-x64/publish
          cp ./src/HomeGenie/release_info.xml ./src/HomeGenie/bin/Release/osx-x64/
          ls -la ./src/HomeGenie/bin/Release/net6.0/osx-x64
          dotnet publish --configuration Release --framework net6.0 --runtime linux-x64   --self-contained
          rm -rf ./src/HomeGenie/bin/Release/net6.0/linux-x64/publish
          cp ./src/HomeGenie/release_info.xml ./src/HomeGenie/bin/Release/linux-x64/
          ls -la ./src/HomeGenie/bin/Release/net6.0/linux-x64
          dotnet publish --configuration Release --framework net6.0 --runtime win-x64     --self-contained
          rm -rf ./src/HomeGenie/bin/Release/net6.0/win-x64/publish
          cp ./src/HomeGenie/release_info.xml ./src/HomeGenie/bin/Release/win-x64/
          ls -la ./src/HomeGenie/bin/Release/net6.0/win-x64

      - name: Zip release bundles
        run: |
          cd ./src/HomeGenie/bin/Release/
          mkdir artifacts
          mv net472 homegenie
          zip homegenie_${{ env.VERSION_NUMBER }}_net472.zip -r homegenie
          mv homegenie_${{ env.VERSION_NUMBER }}_net472.zip ./artifacts/
          cd net6.0
          mv linux-arm homegenie
          zip homegenie_${{ env.VERSION_NUMBER }}_linux-arm.zip -r homegenie
          mv homegenie_${{ env.VERSION_NUMBER }}_linux-arm.zip ../artifacts/
          rm -rf homegenie
          mv linux-arm64 homegenie
          zip homegenie_${{ env.VERSION_NUMBER }}_linux-arm64.zip -r homegenie
          mv homegenie_${{ env.VERSION_NUMBER }}_linux-arm64.zip ../artifacts/
          rm -rf homegenie
          mv osx-x64 homegenie
          zip homegenie_${{ env.VERSION_NUMBER }}_osx-x64.zip -r homegenie
          mv homegenie_${{ env.VERSION_NUMBER }}_osx-x64.zip ../artifacts/
          rm -rf homegenie
          mv linux-x64 homegenie
          zip homegenie_${{ env.VERSION_NUMBER }}_linux-x64.zip -r homegenie
          mv homegenie_${{ env.VERSION_NUMBER }}_linux-x64.zip ../artifacts/
          rm -rf homegenie
          mv win-x64 homegenie
          zip homegenie_${{ env.VERSION_NUMBER }}_win-x64.zip -r homegenie
          mv homegenie_${{ env.VERSION_NUMBER }}_win-x64.zip ../artifacts/
          rm -rf homegenie
          cd ..
          pwd
          ls -la ./artifacts/

      - name: Build debian package and docs
        run: |
          sudo apt-get install doxygen
          ./assets/deploy/linux/builddeb.sh
          cd ./assets/deploy/linux && sh doxygen.sh
          mv Output/* ../../../src/HomeGenie/bin/Release/artifacts/
          mv Doxy/homegenie_api.tgz ../../../src/HomeGenie/bin/Release/artifacts/

      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: |
            ./src/HomeGenie/bin/Release/artifacts/homegenie_${{ env.VERSION_NUMBER }}_linux-arm.zip
            ./src/HomeGenie/bin/Release/artifacts/homegenie_${{ env.VERSION_NUMBER }}_linux-arm64.zip
            ./src/HomeGenie/bin/Release/artifacts/homegenie_${{ env.VERSION_NUMBER }}_osx-x64.zip
            ./src/HomeGenie/bin/Release/artifacts/homegenie_${{ env.VERSION_NUMBER }}_linux-x64.zip
            ./src/HomeGenie/bin/Release/artifacts/homegenie_${{ env.VERSION_NUMBER }}_win-x64.zip
            ./src/HomeGenie/bin/Release/artifacts/homegenie_${{ env.VERSION_NUMBER }}_net472.zip
            ./src/HomeGenie/bin/Release/artifacts/homegenie_${{ env.VERSION_NUMBER }}_all.deb
            ./src/HomeGenie/bin/Release/artifacts/homegenie_${{ env.VERSION_NUMBER }}.tgz
            ./src/HomeGenie/bin/Release/artifacts/homegenie_api.tgz
