<app-text *ngIf="data.type.id === OptionFieldTypeId.Text"
          [data]="data" [module]="module"
          (fieldChange)="onFieldChange($event)">
</app-text>

<app-text *ngIf="data.type.id === OptionFieldTypeId.Password" type="password"
          [data]="data" [module]="module"
          (fieldChange)="onFieldChange($event)">
</app-text>

<app-text *ngIf="data.type.id === OptionFieldTypeId.Location"
          [data]="data" [module]="module" autocomplete="location"
          (fieldChange)="onFieldChange($event)">
</app-text>

<app-checkbox *ngIf="data.type.id === OptionFieldTypeId.CheckBox"
              [data]="data" [module]="module"
              (fieldChange)="onFieldChange($event)">
</app-checkbox>

<app-module-select *ngIf="data.type.id === OptionFieldTypeId.ModuleSelect"
                   [data]="data" [module]="module"
                   (fieldChange)="onFieldChange($event)">
</app-module-select>

<app-slider *ngIf="data.type.id === OptionFieldTypeId.Slider"
            [data]="data" [module]="module"
            (fieldChange)="onFieldChange($event)">
</app-slider>

<app-scenario-select *ngIf="data.type.id === OptionFieldTypeId.ScenarioSelect"
                     [data]="data" [module]="module"
                     (fieldChange)="onFieldChange($event)">
</app-scenario-select>

<app-event-capture *ngIf="data.type.id === OptionFieldTypeId.FieldCapture"
                   [data]="data" [module]="module"
                   (fieldChange)="onFieldChange($event)">
</app-event-capture>
