@import "src/styles/settings/variables";

:host {
  /*
  ::ng-deep .mat-card {
    box-shadow: none;
  }
  */
  ::ng-deep .mat-card-avatar {
    display: none;
  }
  ::ng-deep .mat-card-header-text {
    margin-left: 0 !important;
  }
  ::ng-deep .mat-card-header {
    max-height: 48px !important;
  }
}

.widget-small {
  width: 280px;
  height: 148px;
  margin: 12px;
  box-shadow: none;
  border: solid 1px rgba(100,100,100,0.15);
}

.mat-card-content {
  position: absolute;
  bottom: 12px;
  top: 62px;
  right: 12px;
  left: 12px;
}

.mat-card-actions .mat-button {
  margin: 0;
}

.sensor-value {
  text-align: center;
  margin: 0;
  padding-top: 6px;
  font-size: 250%;
  color: mat-color($app-primary);
  padding-bottom: 6px;
}
.sensor-field {
  text-transform: uppercase;
  color: mat-color($app-accent);
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
