.mat-card-content {
  position: absolute;
  bottom: 12px;
  top: 62px;
  right: 12px;
  left: 12px;
}

.mat-card-actions .mat-button {
  margin: 0;
}

.sensor-value {
  text-align: center;
  margin: 0;
  padding-top: 6px;
  font-size: 320%;
  color: var(--primary);
  padding-bottom: 6px;
}
.sensor-field {
  text-transform: uppercase;
  color: var(--accent);
}

.example-card {
  width: 280px;
  height: 148px;
  margin: 12px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
