<div *ngFor="let o of optionsList; let i = index" [expanded]="i === 0">
      <h2 class="color-accent">{{ o.name }}</h2>
    <!--
    <div>
      {{ o.description }}
    </div>
    -->

  <div *ngIf="module" fxLayout="column" fxLayoutGap="12px" style="padding: 12px">

    <!--
    <p class="color-primary" style="font-size: 120%; padding-bottom: 16px;">{{ o.description }}</p>
    -->

    <app-dynamic-control *ngFor="let f of o.items"
                         [data]="f" [module]="module"
                         (fieldChange)="onFieldChange($event)">
    </app-dynamic-control>

  </div>
</div>
