<div class="content" fxLayout="row wrap" fxLayoutGap="24px">
    <div>
        <label class="label">{{ "configuration" | translate }}</label>
        <mat-form-field>
            <mat-label>{{ "HOMEGENIE.device_port" | translate }}</mat-label>
            <mat-select [(value)]="portName" (selectionChange)="onPortChange($event)">
                <mat-option *ngFor="let name of serialPorts" [value]="name">{{name}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div>
        <label class="label">{{ "tools" | translate }}</label>
        <div fxLayout="row wrap" fxLayoutGap="12px">
            <button mat-flat-button (click)="onDeviceManagerButtonClick($event)">
              <mat-icon aria-hidden="false">devices_other</mat-icon>
              {{ "device_manager" | translate }}
            </button>
            <button mat-flat-button>
              <mat-icon aria-hidden="false">healing</mat-icon>
              {{ "ZWAVE.heal_network_button" | translate }}
            </button>
            <button mat-flat-button>
              <mat-icon aria-hidden="false" color="warn">warning</mat-icon>
              {{ "ZWAVE.hard_reset_button" | translate }}
            </button>
        </div>
    </div>
</div>
