/* Angular Material */

@import '~@angular/material/theming';
/* @import '~@angular/material/prebuilt-themes/deeppurple-amber.css'; */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

:root {
  // Copy the palettes from your selected theme (usually theme.scss).
  $app-primary: mat-palette($mat-grey);
  $app-accent:  mat-palette($mat-light-blue);
  $app-warn:    mat-palette($mat-pink);

  // Create your Sass color vars (will be available in all the project)
  --primary: mat-color($app-primary);
  --accent: mat-color($app-accent);
  --warn: mat-color($app-warn);
}
